*,
*::before,
*::after {
  box-sizing: border-box;
}

/* * {
    outline: 1px solid red;
} */

:root {
  --clr-icons: #929292;
  --clr-text: #fff;
  --clr-bg-dark: #242424;
  --clr-bg-light: #3b3b3b;
  --clr-accent: #ff7600;
}

body {
  margin: 1em;
  background-color: var(--clr-bg-dark);
  color: var(--clr-text);
  line-height: 1.5;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  align-items: center;
  margin: 2em 0;
  line-height: 1.5;
}

.nav {
  /* outline: 2px solid red; */
  /* width: 100%; */
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.nav__link {
  color: var(--clr-text);
  text-transform: capitalize;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.5;
  color: var(--clr-accent);
}

.title {
  color: var(--clr-accent);
  text-transform: uppercase;
  margin: 0;
  font-size: clamp(3rem, 10vw, 7rem);
  line-height: 1;
  /* nice hack */
}
.location {
  color: var(--clr-icons);
  margin: 0;
  margin-bottom: 1.5em;
  font-size: 1.5rem;
}

.secondary-images {
  /* display: flex; */
  /* display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr)); */
  /* gap: .7em; */
  display: flex;
  /* justify-content: center; */
  gap: 0.5em;
}

.secondary-image {
  /* max-width: 145px;
    width: fit-content; */
  grid-template-columns: subgrid;
}

/* .secondary-images img:not(:last-child) {
    margin-right: .5em;
} */

.btn {
  cursor: pointer;
  display: inline-block;
  background: transparent;
  border: 0;
  color: var(--clr-text);
  font-size: 1.125rem;
  padding: 0.5em;
  position: relative;
  align-self: start;
  justify-self: start;
}

.btn::after {
  content: "";
  position: absolute;
  background-color: var(--clr-accent);
  height: 0.85em;
  width: 75%;
  z-index: -1;
  top: 50%;
  left: 0;
  transition: transform 175ms cubic-bezier(0.86, 0.05, 0.36, 1.63);
  transform-origin: bottom left;
}

.btn:hover::after,
.btn:focus::after {
  transform: scale(1.35, 1.85);
}

footer {
  margin-top: 2em;
}

.social-links {
  display: flex;
  gap: 2em;
}

.social-link:hover,
.social-link:focus {
  opacity: 0.5;
}

.number {
    display: none;
}

.description {
  grid-column: 1 / -1;
  grid-row: 3;
  max-width: 45ch;
  text-shadow: 1px 0px 12px hsl(0 59% 6% / 1), -16px 0px 5px hsl(0 59% 6% / 1), 2px 0px 0px hsl(0 59% 6% / 1);
  font-weight: 500;
  color: hsl(0 59% 98% / 1);
}


@media (min-width: 126px) {
    .secondary-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    header {
        display: grid;
    }

    .nav {
        padding-top: .5rem;
        justify-content: space-between;
    }
}

@media (min-width: 448px) {
    header {
        display: flex;
    }

    .nav {
        display: flex;
        padding-top: 0;
        justify-content: space-around;
    }
}

@media (min-width: 553px) {
    .secondary-images {
        display: flex !important;
        gap: 0.8em;
    }
}

/* @supports (grid-template-columns: subgrid) { */
  @media (min-width: 650px) {
    body {
      margin: 0;
      position: relative;
    }

    

    .main-grid {
      display: grid;
      grid-template-columns:
        minmax(1em, 1fr)
        repeat(3, minmax(15rem, 30rem))
        minmax(1em, 1fr);
      gap: 2em;
      position: relative;
    }

    .number {
        display: grid;
        grid-template-columns:
        minmax(1em, 1fr)
        minmax(15rem, 30rem);
        gap: 2em;
        position: absolute;
    }

    .number span {
        grid-column: 1 / 2;
        font-size: 30rem;
        position: absolute;
        top: .2rem;
        color: #3b3b3b61;
        z-index: -1;
        left: -10rem;
    }

    header {
      grid-column: 2 / 5;
      display: grid;
      grid-template-columns: subgrid;
    }

    nav {
      grid-column: 2 / 5;
    }

    main {
      grid-column: 2 / -1;
      display: grid;
      grid-template-columns: subgrid;
      grid-auto-flow: dense;
      grid-auto-rows: min-content;
    }

    main::after {
      content: "";
      position: absolute;
      background-color: var(--clr-bg-light);
      top: 0;
      left: -2em;
      right: -2em;
      bottom: 0;
      /* grid-template-columns: subgrid; */
      grid-column: 3 / 5;
      z-index: -2;
      /* transition: transform .6s ease; */
    }


    .title {
      grid-column: 1 / 3;
      grid-row: 1;
    }

    .primary-image {
      grid-column: 2 / -1;
      grid-row: 1 / span 4;
      z-index: -1;
      height: 100%;
      max-height: 500px;
      /* width: 100%; */
      width: min(100%, 1000px);
      object-fit: cover;
    }

    .secondary-images {
        grid-column: 2 / 4;
        margin-top: 2.5rem;
        display: flex;
    }

    footer {
      grid-column: 2 / 3;
    }
  }

  @media (min-width: 1200px) {
    nav {
      grid-column: 2 / 3;
    }
    
    .secondary-images {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-column: 2 ;
    }

    main::after {
      grid-column: 3 / 3;
    }
  }


  
 /* ----------------------------------------------
 * Generated by Animista on 2021-2-11 20:9:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.jello-horizontal .close-button {
    position: absolute;
    right: -1rem;
    top: -1rem;
    background: white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 3px -4px 14px 6px white;
    z-index: 322;
}

.jello-horizontal {
    -webkit-animation: jello-horizontal 0.9s forwards;
            animation: jello-horizontal 0.9s forwards;
}



.jello-horizontal {
    display: block;
    position: absolute;
    width: 32rem;
    height: 400px;
    top: 29%;
    left: 27%;
    /* transform: translate(-50%, -50%); */
    background-color: var(--clr-bg-dark);
    color: var(--clr-accent);
    border-radius: 6px;
    padding: 1.5rem;
    
    display: grid;
    grid-template-columns: 2.5rem 1.5fr 2.5rem;
    z-index: 3;
}

.jello-backdrop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #ffffff42;
}

/* .jello-horizontal::after {
    content: '';
    width: 200vw;
    height: 200vh;
    background-image: radial-gradient(#1e1e1e, #88888842, #eaeaea, #eaeaea70);
    z-index: -1;
    position: absolute;
    left: -42rem;
    top: -43rem;
    
    
} */

.jello-horizontal .imgs {
    grid-column: 2;
    height: 175px;
    justify-content: space-between;
    display: flex;
}

.jello-horizontal .imgs img {
    height: inherit; 
}

.jello-horizontal .information {
    grid-row: 2;
    grid-column: 2 / 3;
    font-size: 1.9em;
    color: white; 
}

.jello-horizontal .information a{
    color: white; 
    text-decoration: none;
    padding: 0.5em;
    padding-left: 0;
    position: relative;
    align-self: start;
    justify-self: start;
    z-index: 1;
}
.jello-horizontal .information a::after{
    content: "";
    position: absolute;
    background-color: var(--clr-accent);
    height: 0.85em;
    width: 75%;
    z-index: -1;
    top: 50%;
    left: -.5em;
    transition: transform 175ms cubic-bezier(0.86, 0.05, 0.36, 1.63);
    transform-origin: bottom left;
}

.jello-horizontal .information a:hover::after,
.jello-horizontal .information a:focus::after {
    transform: scale(1.47, 1.99);
}



@supports (grid-template-columns: subgrid) {
    .jello-horizontal img:last-child {
        transform: scale(1.5, 1.2) translate(-19.7px, 6px);
    }

    .jello-horizontal img:first-child {
        transform: scale(0.8, 0.5) translate(-34px, 46px);
    }

    .firefox {
        display: none;
    }

    .chrome a:after {
        
        left: -0.1em !important;
    }
}

@supports not (grid-template-columns: subgrid) {
    @media (min-width: 800px) {
        main {
            grid-template-columns:
                repeat(3, minmax(15rem, 30rem));
           
        }

        header {
            grid-template-columns: repeat(3, minmax(15rem, 30rem));
        }

        .primary-image {
            max-height: 386px;
        }
    }

    @media (min-width: 1200px) {
        .secondary-images {
            grid-column: 2 / 3;
            display: grid;
            grid-template-columns:
                1fr
                1fr
                1.9em;
        }
    }

    .jello-horizontal img:last-child {
        transform: scale(0.8, 0.5) translate(34px, 46px);
    }
    
    .jello-horizontal img:first-child {
        transform: scale(1.5, 1.2) translate(19.7px, -6px);
    }

    .chrome {
        display: none;
    }

    .firefox a:after {
        
        left: -0.1em !important;
    }

}

@media(max-width: 790px) {
    .jello-horizontal, .jello-backdrop{
        display: none;
    }
    
}

/*      */
